<div>
  Courses {{ childMessage }}

  <!--
  <course-preview [course]='courseAndroid' (courseClickedEvent)='courseClicked($event)'></course-preview>
  <course-preview [course]='courseAngular' (courseClickedEvent)='courseClicked($event)'></course-preview>
  <course-preview [course]='courseBackbone' (courseClickedEvent)='courseClicked($event)'></course-preview>

  -->
  <course-preview class="col-md-4 col-xs-4 col-lg-4"
  *ngFor="let c of courses" [showImages]='showImages' [course]="c" (courseClickedEvent)='courseClicked($event)'></course-preview>
</div>